body {

    font-family: Arial, Helvetica, sans-serif;
    background-color:whitesmoke;
    background-image: url(clouds_and_the_sky.jpg);
     

}


html {

     position: relative;
     min-height: 100%;
     
}

main {

    margin: 80px 0px;

}

.block {
    background-color:white;
    padding: 30px;
    margin-bottom: 30px;

}

.block-header {

    color: navy;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;


}

.image{
  
        width: 300px;
        height: 300px;
        float: left;
    }

.navbar {

    border: none;
    background: white;
    

}

#logo {

    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background: navy;
    width: 250px;
    word-spacing: 10px;
    text-align: center;

}

#form-class ul {

    margin-bottom: 20px;

}

#form-class li {

    margin-bottom: 10px;
    
}

p {

    position: relative;
    
}

nav {

    background-color: teal;
}